.heading {
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 100vh;

    .brand-name {
        font-family: 'Great vibes', cursive;
        color: rgb(228, 228, 228);
        text-align: center;
        font-weight: 100;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    nav {
        font-family: 'Assistant', cursive;
        font-weight: 600;
        font-size: 1em;
       // margin: 0 25%;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(119, 119, 119, 0.5);
        width: 100%;

        ul {
            padding: 0 20%;
            margin: 0 10%;
            height: 18px;
            margin-bottom: 20px;
            .home {
                margin-left: 40px;
            }

            .pages {
                .drop {
                    position:absolute; 
                    right: 42%; 
                    visibility: hidden;
                }
                .show {
                    visibility: visible;
                }

                .hide {
                    visibility: hidden;
                }

                a>i {
                    padding: 10px;
                }
            }
        }

        .nav-items {
            display: inline-block;
            list-style: none;
            padding: 0 10px;

            }

            a {
                text-decoration: none;
                color: rgb(228, 228, 228);

                
                &:hover {
                    color: orangered;
                    transition: all 0.5 ease;
                }

            }
        }
    }
    
    .viva {
        height: auto;
        position: relative;
        .brand-label {
            text-align: center;
            font-family: 'Assistant', monospace;
            font-weight: bolder;
            font-size: 7vw;
            color: white;
            letter-spacing: 48px
        }

        .read-more {
            
            height: 100vh;
            position: relative;
        }
        .read-more-text {
            position: relative;
            text-align: center;
            border: 2px solid rgb(143, 143, 143);
            width: 300px;
            height: 250px;
            left: 38%;
            color: rgb(209, 209, 209);
            padding: 10px;
            margin-top: 40px ;
            
        }

        .btn-read {
            position: relative;
            font-family: 'Assistant', cursive;
            padding: 5px;
            font-weight: 700;
            color: whitesmoke;
            background-color: rgb(143, 143, 143);
            left: 45%;
            bottom: 10px;
            
            
        }
    }