.content {
  width: 100%;
}

.content .welcome {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header header" "main  article article aside" "main  article article aside";
  margin-right: 20px;
  padding: 0 40px 40px 40px;
}

.content .welcome .welcome-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  text-align: center;
  padding-top: 40px;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

.content .welcome .gown {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: main;
  padding: 20px;
  width: 400px;
  height: 500px;
}

.content .welcome .text {
  background: transparent;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: article;
  padding: 20px;
  font-size: 25px;
  line-height: 1.5;
  text-align: justify;
}

.content .welcome .adv-lists {
  background-color: rgba(128, 128, 128, 0.397);
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: aside;
  padding: 10px;
  font-family: 'Assistant', cursive;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  position: relative;
  left: 20px;
}

.content .welcome .adv-lists h1 {
  display: inline;
  font-size: 30px;
  color: orangered;
}

.content .welcome .adv-lists ul {
  list-style: none;
}

.content .welcome .adv-lists ul li {
  margin: 20px;
}

.content .services {
  background-color: #dbd9d9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "header header header  header" "icons  icons  article article" "icons  icons  article article";
}

.content .services .services-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

.content .services .icons {
  position: relative;
  margin-right: 0;
      grid-template-columns: repeat(3, 75px);
      grid-template-rows: repeat(2, 75px);
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: icons;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 15%;
  grid-row-gap: 30%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 10%;
  padding-top: 4%;
  margin-bottom: 20%;
  /* .fa-anchor {
                    //padding-left: 22px;
                } */
}

.content .services .icons .fas {
  padding: 20px 20px;
}

.content .services .icons .fa-gift, .content .services .icons .fas {
  border-radius: 50%;
  background: white;
  color: orangered;
}

.content .services .icons .fa-user {
  padding-left: 24px;
  padding-right: 24px;
}

.content .services .icons .fa-cog {
  padding-top: 23px;
  padding-right: 23px;
}

.content .services .icons .fa-heart {
  padding-top: 25px;
}

.content .services .icons .fa-glass-martini {
  padding-top: 23px;
  padding-left: 22px;
}

.content .services .serv-texts {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: article;
  padding: 20px;
  text-align: left;
  font-family: 'Assistant', cursive;
  font-size: 22px;
  margin-bottom: 5%;
  margin-right: 10%;
}

.content .quotation {
  text-align: center;
  padding-top: 40px;
  background-image: url(../images/1.jpg);
  height: 40vh;
  font-size: 30px;
  background-size: cover;
}

.content .quotation .fas {
  color: #d1cdcd;
}

.content .quotation p {
  text-align: center;
  margin-left: 10%;
  font-size: 20px;
  width: 75%;
  color: #d8d3cd;
  padding-top: 20px;
}

.content .events {
  background-color: azure;
  background-blend-mode: darken;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "text text text text" "row1 row1 row1 row1" "row2 row2 row2 row2" "row3 row3 row3 row3";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.content .events p {
  color: #949494;
  margin-left: 15px;
}

.content .events h1 {
  color: #242424;
  margin-left: 15px;
  margin-bottom: 10px;
}

.content .events .date {
  color: orange;
  font-size: 20px;
}

.content .events .one {
  color: orange;
  font-size: 40px;
  padding: 15px;
  font-family: 'Assistant', cursive;
}

.content .events .fab {
  padding: 5px 0;
  color: whitesmoke;
}

.content .events .event-images {
  width: 400px;
  position: relative;
}

.content .events .glass {
  position: relative;
  top: 5%;
}

.content .events .couple {
  position: relative;
  bottom: 4.5%;
}

.content .events .events-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: text;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

.content .events .row1 {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: row1;
  padding-top: 20px;
}

.content .events .row1 .glass-box1 {
  border-bottom: 2px solid orangered;
  position: absolute;
  width: 300px;
  height: 200px;
  background: #c4c2c2;
  z-index: 4;
  top: 50px;
  right: 90%;
  padding: 10px;
}

.content .events .row1 .glass-box2 {
  display: inline-block;
  background: orangered;
  position: relative;
  width: 30px;
  z-index: 5;
  bottom: 57.5%;
  right: 15px;
  padding: 7px;
}

.content .events .row2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: row2;
  position: relative;
}

.content .events .row2 .flower-box1 {
  border-bottom: 2px solid lime;
  position: absolute;
  width: 300px;
  height: 200px;
  overflow: hidden;
  background: #c4c2c2;
  z-index: 4;
  top: 30px;
  left: 85%;
  padding: 10px;
}

.content .events .row2 .flower-box1 b {
  color: lime;
}

.content .events .row2 .flower-box2 {
  display: inline-block;
  background: orangered;
  position: relative;
  width: 30px;
  z-index: 5;
  right: 98%;
  bottom: 67%;
  padding: 7px;
}

.content .events .row3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: row3;
  padding-bottom: 40px;
  position: relative;
}

.content .events .row3 .couple-box1 {
  border-bottom: 2px solid orangered;
  position: absolute;
  width: 300px;
  height: 200px;
  background: #c4c2c2;
  z-index: 4;
  top: 20px;
  right: 90%;
  padding: 10px;
}

.content .events .row3 .couple-box2 {
  display: inline-block;
  background: orangered;
  position: relative;
  width: 30px;
  z-index: 5;
  bottom: 63%;
  right: 15px;
  padding: 7px;
}

.content .events .row3 .couple-box2 .fab {
  padding: 5px 0;
  color: whitesmoke;
}

.heading {
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 100vh;
}

.heading .brand-name {
  font-family: 'Great vibes', cursive;
  color: #e4e4e4;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.heading nav {
  font-family: 'Assistant', cursive;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(119, 119, 119, 0.5);
  width: 100%;
}

.heading nav ul {
  padding: 0 20%;
  margin: 0 10%;
  height: 18px;
  margin-bottom: 20px;
}

.heading nav ul .home {
  margin-left: 40px;
}

.heading nav ul .pages .drop {
  position: absolute;
  right: 42%;
  visibility: hidden;
}

.heading nav ul .pages .show {
  visibility: visible;
}

.heading nav ul .pages .hide {
  visibility: hidden;
}

.heading nav ul .pages a > i {
  padding: 10px;
}

.heading nav .nav-items {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
}

.heading nav a {
  text-decoration: none;
  color: #e4e4e4;
}

.heading nav a:hover {
  color: orangered;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.viva {
  height: auto;
  position: relative;
}

.viva .brand-label {
  text-align: center;
  font-family: 'Assistant', monospace;
  font-weight: bolder;
  font-size: 7vw;
  color: white;
  letter-spacing: 48px;
}

.viva .read-more {
  height: 100vh;
  position: relative;
}

.viva .read-more-text {
  position: relative;
  text-align: center;
  border: 2px solid #8f8f8f;
  width: 300px;
  height: 250px;
  left: 38%;
  color: #d1d1d1;
  padding: 10px;
  margin-top: 40px;
}

.viva .btn-read {
  position: relative;
  font-family: 'Assistant', cursive;
  padding: 5px;
  font-weight: 700;
  color: whitesmoke;
  background-color: #8f8f8f;
  left: 45%;
  bottom: 10px;
}

.foot-notes {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "top top top top" "top top top top" "bottom bottom bottom bottom";
  background-color: #141414;
  color: whitesmoke;
}

.foot-notes .ft-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: top;
      grid-template-areas: "icons contact nav posts" "icons contact nav posts" "icons contact nav posts" "icons contact nav posts";
  margin: 0 10%;
}

.foot-notes .ft-top .social-icons {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: icons;
  padding: 10px;
  display: inline-block;
}

.foot-notes .ft-top .social-icons .font-awe {
  margin-left: 20px;
}

.foot-notes .ft-top .social-icons .fab, .foot-notes .ft-top .social-icons .fas {
  padding: 10px;
  color: #b6b6b6;
  font-size: 15px;
}

.foot-notes .ft-top .social-icons .logo {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 10px;
}

.foot-notes .ft-top .contact-info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: contact;
  padding: 20px;
}

.foot-notes .ft-top .contact-info .call {
  font-weight: 300;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  color: gray;
}

.foot-notes .ft-top .contact-info .address {
  font-weight: 300;
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  color: gray;
}

.foot-notes .ft-top .contact-info .info-text {
  font-weight: 300;
  font-family: cursive, sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

.foot-notes .ft-top .contact-info .info-text .con {
  padding: 2px 0;
  border-bottom: 2px solid orangered;
}

.foot-notes .ft-top .ft-nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: nav;
  padding: 20px;
}

.foot-notes .ft-top .ft-nav ul {
  list-style: none;
  padding-top: 20px;
  font-family: cursive;
  font-size: 15px;
}

.foot-notes .ft-top .ft-nav ul li {
  margin-bottom: 5px;
}

.foot-notes .ft-top .ft-nav ul a {
  text-decoration: none;
  color: #d6d6d6;
}

.foot-notes .ft-top .ft-nav .shortcuts {
  font-weight: 300;
  font-family: cursive, sans-serif;
  font-size: 15px;
  padding: 4px 0;
}

.foot-notes .ft-top .ft-nav .shortcuts .na {
  padding: 2px 0;
  border-bottom: 2px solid orangered;
}

.foot-notes .ft-top .recent-posts {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  grid-area: posts;
  padding: 20px;
}

.foot-notes .ft-top .recent-posts .post-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px;
      grid-template-columns: 100px 100px;
  padding-top: 20px;
}

.foot-notes .ft-top .recent-posts .post-images .images {
  max-width: 100%;
}

.foot-notes .ft-top .recent-posts .posts {
  font-weight: 300;
  font-family: cursive, sans-serif;
  font-size: 15px;
  padding: 4px 0;
}

.foot-notes .ft-top .recent-posts .posts .re {
  padding: 2px 0;
  border-bottom: 2px solid orangered;
}

.foot-notes .ft-bottom {
  background: black;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: bottom;
  padding: 20px 40px;
  text-align: center;
  font-weight: 300;
  font-family: cursive, sans-serif;
  font-size: 15px;
}

.foot-notes .ft-bottom .designer {
  color: orangered;
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .heading {
    width: 100%;
  }
  .heading nav ul {
    padding: 0;
    margin: 0;
    text-align-last: center;
  }
  .heading nav ul .home {
    padding-left: 0;
    margin: 0;
  }
  .heading .viva .read-more {
    position: relative;
    right: 100px;
    padding: 10px 0;
  }
  .heading .viva .read-more-text {
    padding: 10px 0;
    margin: 0;
    height: 200px;
  }
  .heading .viva .btn-read {
    position: relative;
    left: 53%;
  }
  .content .welcome {
    display: block;
  }
  .content .welcome .gown {
    position: relative;
    left: 20%;
  }
  .content .services {
    display: block;
  }
  .content .services .icons {
    position: relative;
    left: 10px;
  }
  .content .quotation {
    height: 100vh;
  }
  .content .events {
    width: 20%;
    margin-left: 42%;
  }
  .content .events .row1 {
    position: relative;
  }
  .content .events .row1 .glass-box1 {
    border-bottom: 2px solid orangered;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #c4c2c2;
    z-index: 4;
    top: 50px;
    right: 90%;
    padding: 10px;
    overflow: hidden;
  }
  .content .events .row1 .glass-box2 {
    display: inline-block;
    background: orangered;
    position: relative;
    width: 30px;
    z-index: 5;
    bottom: 65.5%;
    padding: 7px;
    left: 98%;
  }
  .content .events .row2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: row2;
    position: relative;
  }
  .content .events .row2 .flower-box1 {
    border-bottom: 2px solid lime;
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #c4c2c2;
    z-index: 4;
    top: 30px;
    left: 85%;
    padding: 10px;
  }
  .content .events .row2 .flower-box1 b {
    color: lime;
  }
  .content .events .row2 .flower-box2 {
    display: inline-block;
    background: orangered;
    position: relative;
    width: 30px;
    z-index: 5;
    left: -20px;
    top: -75%;
    padding: 7px;
  }
  .content .events .row3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: row3;
    padding-bottom: 40px;
    position: relative;
  }
  .content .events .row3 .couple-box1 {
    border-bottom: 2px solid orangered;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #c4c2c2;
    z-index: 4;
    top: 20px;
    right: 90%;
    padding: 10px;
    overflow: hidden;
  }
  .content .events .row3 .couple-box2 {
    display: inline-block;
    background: orangered;
    position: relative;
    width: 30px;
    z-index: 5;
    top: -71.5%;
    left: 97%;
    padding: 7px;
  }
  .content .events .row3 .couple-box2 .fab {
    padding: 5px 0;
    color: whitesmoke;
  }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
  .heading {
    width: 100%;
  }
  .heading nav ul {
    padding: 0;
    margin: 0;
    text-align-last: center;
  }
  .heading nav ul .home {
    padding-left: 0;
    margin: 0;
  }
  .heading .viva .read-more {
    position: relative;
    right: 40px;
  }
  .heading .viva .read-more-text {
    padding: 0;
    margin: 0;
    height: 200px;
  }
  .heading .viva .btn-read {
    position: relative;
    left: 50%;
  }
  .content .welcome .gown {
    position: relative;
    height: 700px;
  }
  .content .welcome .adv-lists {
    height: 700px;
  }
  .quotation {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .heading {
    width: 100%;
  }
  .heading nav ul {
    padding: 0;
    margin: 0;
    text-align-last: center;
  }
  .heading nav ul .home {
    padding-left: 0;
    margin: 0;
  }
  .heading .viva .read-more {
    position: relative;
    right: 100px;
  }
  .heading .viva .read-more-text {
    padding: 0;
    margin: 0;
    height: 200px;
  }
  .heading .viva .btn-read {
    position: relative;
    left: 57%;
  }
  .content .welcome {
    display: block;
  }
  .content .welcome .gown {
    position: relative;
    left: 10%;
  }
  .content .services {
    display: block;
  }
  .content .services .icons {
    position: relative;
    left: 10px;
  }
  .content .quotation {
    height: 100vh;
  }
  .content .events {
    width: 20%;
    margin-left: 42%;
  }
  .content .events .row1 {
    position: relative;
  }
  .content .events .row1 .glass-box1 {
    border-bottom: 2px solid orangered;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #c4c2c2;
    z-index: 4;
    top: 50px;
    right: 90%;
    padding: 10px;
    overflow: hidden;
  }
  .content .events .row1 .glass-box2 {
    display: inline-block;
    background: orangered;
    position: relative;
    width: 30px;
    z-index: 5;
    bottom: 65.5%;
    padding: 7px;
    left: 98%;
  }
  .content .events .row2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: row2;
    position: relative;
  }
  .content .events .row2 .flower-box1 {
    border-bottom: 2px solid lime;
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #c4c2c2;
    z-index: 4;
    top: 30px;
    left: 85%;
    padding: 10px;
  }
  .content .events .row2 .flower-box1 b {
    color: lime;
  }
  .content .events .row2 .flower-box2 {
    display: inline-block;
    background: orangered;
    position: relative;
    width: 30px;
    z-index: 5;
    left: -20px;
    top: -75%;
    padding: 7px;
  }
  .content .events .row3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: row3;
    padding-bottom: 40px;
    position: relative;
  }
  .content .events .row3 .couple-box1 {
    border-bottom: 2px solid orangered;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #c4c2c2;
    z-index: 4;
    top: 20px;
    right: 90%;
    padding: 10px;
    overflow: hidden;
  }
  .content .events .row3 .couple-box2 {
    display: inline-block;
    background: orangered;
    position: relative;
    width: 30px;
    z-index: 5;
    top: -71.5%;
    left: 97%;
    padding: 7px;
  }
  .content .events .row3 .couple-box2 .fab {
    padding: 5px 0;
    color: whitesmoke;
  }
  .foot-notes {
    display: block;
  }
  .foot-notes .ft-top {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  .heading nav ul {
    padding: 0;
    margin: 0;
    height: 10px;
    margin-bottom: 10px;
  }
  .heading nav ul .home {
    margin-left: 0.2em;
  }
  .heading nav ul .pages {
    margin-right: 0;
  }
  .heading nav ul .pages #down {
    margin-right: 0;
  }
  .heading nav ul .contact {
    margin-left: 0;
    padding-left: 0;
  }
  .heading .viva .brand-label {
    font-size: 5vw;
    text-align: center;
    margin-left: 28px;
    letter-spacing: 40px;
    margin-bottom: 20px;
  }
  .heading .viva .read-more-text {
    padding: 20px 0;
    position: relative;
    text-align: center;
    left: 15rem;
    height: 190px;
  }
  .heading .viva .btn-read {
    left: 70%;
  }
  .content {
    display: block;
  }
  .content .welcome {
    display: block;
  }
  .content .welcome .gown {
    width: 300px;
  }
  .content .services {
    display: block;
  }
  .content .services .icons {
    left: 0;
  }
  .content .quotation {
    display: block;
    height: 100vh;
  }
  .content .events {
    -ms-flex-line-pack: center;
        align-content: center;
    position: relative;
    left: 20px;
  }
  .content .events .events-text {
    position: relative;
    text-align: center;
  }
  .content .events .event-images {
    width: 300px;
  }
  .content .events .glass-box1,
  .content .events .glass-box2,
  .content .events .flower-box1,
  .content .events .flower-box2,
  .content .events .couple-box1,
  .content .events .couple-box2 {
    visibility: hidden;
  }
  .foot-notes {
    display: block;
  }
  .foot-notes .ft-top {
    display: block;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=index.css.map */